<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">           
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
        <meta name="theme-color" content="#2E294E">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <title>Coming Soon | Global Prospects</title>
    </head>
    <body>
        <nav>
            <ul class="landing-nav">
                <a href="#"><li>About</li></a>
                <a href="#"><li>Mission</li></a>
                <a href="#"><li>Get in touch</li></a>
            </ul>
        </nav>

        <div class="landing-home">
            <h1 id="title">Global Prospects</h1>
            <p id="slogan">Student Centered SAT Prep.</p>
            <img src="assets/logos/writing.png"/>
        </div>  

        <div class="landing-transition">
            <img src="assets/logos/down.png"/>
        </div>  

        <div class="landing-about">
            <h1>Hours of Interactive Videos</h1>
            <div class="about-pg">
                <img src="assets/logos/pc_player.png"/>
                <div id="about-txt">
                    <p>Our Team will provide <span style="color:#D90368;">you</span> with Interactive Preparation classes with constant follow up to ensure 100% student satisfaction.</p>
                </div>
            </div>
        </div>
        
        <div class="landing-mission">
            <img src="assets/logos/geometry.png"/>
            <div class="founder-st">
                <h3>Our Mission</h3>
                    <p>To help African scholars gain quality preparation prior to their international college-entry exams.<br><br>Our Founder,Stanely Barasa,noticed an inefficency and inadequacy in the resources available to Kenyans and Africans in general and so it fit to establish a personalized interactive SAT Pre-Test Prep Program.<br><br>Global Prospects aims at increasing the number of African students admission to international  universities so that each and every student has the opportunity to achieve their life goals.<br><br>Stanely self prepped for his SAT score and was ranked in the 96<sup>th</sup> Percentile and is the Head of Programs at Global Prospects.</p>
            </div> 
        </div>
        <div class="footer">
            <h1>We will be launching soon.</h1>
            <h3>Sign up for Early Access</h3>
            <input placeholder="Enter Email Address"/><br>
            <button>Notify Me</button>
        </div>
    </body>
</html>