<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">           
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
        <meta name="theme-color" content="#2E294E">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <title>Coming Soon | Global Prospects</title>
    </head>
    <body>
        <nav>
            <ul class="landing-nav">
                <a href="#"><li>About</li></a>
                <a href="#"><li>Mission</li></a>
                <a href="#"><li>Get in touch</li></a>
            </ul>
        </nav>
        <div class="landing-home">
            <h1 id="title">Global Prospects</h1>
            <p id="slogan">Student Centered SAT Prep.</p>
            <img src="assets/logos/writing.png"/>
        </div>  
        <div class="landing-transition">
            <img src="assets/logos/down.png"/>
        </div>    
    </body>
</html>