*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.landing-nav{
    background:#ffffff;
    padding: 10px;
    text-align: center;
}

.landing-nav li{
    margin:0 4%;
    text-align:center;
    display: inline-block;
    width: 20%;
    max-width: 90px;
    color:#D90368;
    font-size: 0.8em;
    font-weight: bold;
   
}

.landing-nav li:hover{
    transition: all ease-out .3s;
    color:#2E294E;
    transform: scale(1.1);
}

.landing-home{
    height: 500px;
    background:#2E294E;
}

#title{
    padding:25px;
    position: absolute;
    width:40%;
    margin:1.5em 0 0 0; 
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    font-size: 5em;
    animation: landing-title-entrance 1.5s ease-in-out forwards;

}

#slogan{
    padding-left:30px;
    position: absolute;
    margin:11.5em 0 0 0; 
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    font-size: 1.8em;
    letter-spacing: 4px;
    overflow: hidden;
    border-right: 3px solid #fff;
    white-space: nowrap; 
    height: 1.8em;
    line-height: 1.8em;
    opacity: 0;
    animation: 
      typing 4s steps(24, end) 3s forwards,
      blink-caret 2s  step-end infinite ;
}

.landing-home img{
    position: relative;
    float: right;
    clear: both;
    top:20%;
    right: 0%;
    height: 280px;
    width: 350px;
    opacity: 0;
    animation: landing-logo-entrance 1.8s ease-out .8s forwards;
}

.landing-transition{
    text-align: center;
    padding: 20px;
}
.landing-transition img{
    position: relative;
    width: 100%;
    text-align: center;
    height: 30px;
    width: 50px;
    top:10px;
    animation: landing-scroller 2s ease-in-out infinite;
}

.landing-about{
    height: 650px;
}

.landing-about h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    margin-top:100px;
    padding-right: 75px;
    width: 100%;
    text-align: right;
}

.about-pg img{
    height: 300px;
    width: 450px;
    margin:70px 0  0 30px; 
}

#about-txt {
    text-align: justify;
    font-size: 1.2em;
    padding: 50px;
    line-height: 25px;
    float: right;
    clear: both;
    top:70px;
    width: 60%;
    position: relative;
}

.landing-mission{
    height: 700px;
    background:#D90368 ;
}

.landing-mission img{
    float: right;
    height: 280px;
    width: 280px;
    position: relative;
    margin: 220px 100px 0 0;
}
.founder-st h3{
    position: absolute;
    margin: 70px 0 0 0;
    color: #fff;
    width: 50%;
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.founder-st p{
    letter-spacing: 1px;
    text-align: justify;
    padding: 35px;
    color:#fff;
    font-size: 1.2em;
    line-height: 1.4em;
    position: absolute;
    margin: 150px 0 0 0;
    width: 50%;
}
.footer{
    height: 350px;
    background: #2E294E;
    color:#fff;
}

.footer h1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 2.5em;
    padding:80px 0 0 25px; 
    width: 50%;
    text-align: center;
}

.footer h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    padding:50px 0 0 20px;
    width: 50%;
    text-align: center;
}

.footer input{
    position: relative;
    bottom:110px;
    line-height: 3em;
    height: 3em;
    width: 25%;
    margin: 0px 0 0 60%;
}
.footer button{
    font-family: 'Montserrat', sans-serif;
    border:none;
    color:#fff;
    font-size: 1em;
    background:#D90368;
    position: relative;
    bottom:100px;
    margin: 0px 0 0 60%;
    line-height: 3em;
    height: 3em;
    width: 25%;
    transition: all ease-out .3s;
}

.footer button:hover{
    transition: all linear .3s;
    background: #fff;
    color:#D90368;
}

 
@media screen and (max-width:650px){
    nav{
        display: none;
    }
    #title{
        padding:25px;
        position: absolute;
        width:40%;
        margin:5.5em 0 0 0; 
        font-family: 'Montserrat', sans-serif;
        color:#fff;
        font-size: 3em;
    }
    #slogan{
        padding-left:30px;
        position: absolute;
        margin:27.5em 0 0 0; 
        font-family: 'Montserrat', sans-serif;
        color:#fff;
        font-size: 1em;
        letter-spacing: 1px;
        overflow: hidden;
        border-right: 2px solid #fff;
        white-space: nowrap; 
        height: 1em;
        line-height: 1em;
        opacity: 0;
        animation: 
          typing 3.5s steps(25, end) 2s forwards,
          blink-caret 2s  step-end infinite ;
    }
    .landing-home{
        height: 550px;
        background:#2E294E;
    }
    .landing-home img{
        position: relative;
        float: right;
        clear: both;
        top:15.5%;
        right: 0%;
        height: 38%;
        width: 70%;
    }
    .landing-transition{
        text-align: center;
        padding: 10px;
    }
    
    
.landing-about{
    height: 650px;
}

    .landing-about h1{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        padding:0;
        margin-top:100px;
        width: 100%;
        text-align: center;
    }

.about-pg img{
    height: 150px;
    width: 80%;
    margin:60px 10% 0 10%; 
}

#about-txt {
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    line-height: 25px;
    width: 80%;
    margin:0 10%;
    position: relative;
    border-bottom: solid 4px #D90368;
}

.landing-mission{
    height: 700px;
    background:#D90368 ;
}

.landing-mission img{
    height: 100px;
    width: 100px;
    position: relative;
    margin: 220px 100px 0 0;
    display:none;
}
.founder-st h3{
    position: relative;
    color: #fff;
    top:20px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.founder-st p{
    text-align: center;
    padding: 30px;
    color:#fff;
    font-size: 1em;
    line-height: 1.5em;
    position: absolute;
    margin: 5px 2.5%;
    width: 95%;
}
.footer{
    height: 450px;
    background: #2E294E;
    color:#fff;
}

.footer h1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 1.6em;
    padding:35px 10px; 
    width: 100%;
    text-align: center;
}

.footer h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
     padding:35px 10px; 
    width: 100%;
    text-align: center;
}

.footer input{
    position: relative;
    line-height: 3em;
    height: 3em;
    font-size:1.2em;
    padding:10px;
    width: 80%;
    top:40px;
    margin: 0px 10%;
}
.footer button{
    font-family: 'Montserrat', sans-serif;
    border:none;
    color:#fff;
    font-size: 1em;
    background:#D90368;
    position: relative;
    top:50px;
    margin: 0 10%;
    line-height: 3em;
    height: 3em;
    width: 80%;
}

    @media screen and (max-height:600px){
        .landing-home{
            height: 500px;
            background:#2E294E;
        }
    }
    @media screen and (min-height:650px){
        .landing-home{
            height: 610px;
            background:#2E294E;
        }
        .landing-home img{
            position: relative;
            float: right;
            clear: both;
            top:25.5%;
            right: 0%;
            height: 30%;
            width: 60%;
        }
        #title{
            padding:25px;
            position: absolute;
            width:40%;
            margin:7.5em 0 0 0; 
            font-family: 'Montserrat', sans-serif;
            color:#fff;
            font-size: 3em;
        }
        #slogan{
            padding:25px;
            position: absolute;
            width:100%;
            margin:33em 0 0 0; 
            font-family: 'Montserrat', sans-serif;
            color:#fff;
            font-size: 1em;
        }
    }
    @media screen and (min-height:680px){
        .landing-home{
            height: 670px;
            background:#2E294E;
        }
        .landing-home img{
            position: relative;
            float: right;
            clear: both;
            top:25.5%;
            right: 0%;
            height: 30%;
            width: 60%;
        }
        #title{
            padding:25px;
            position: absolute;
            width:40%;
            margin:7.5em 0 0 0; 
            font-family: 'Montserrat', sans-serif;
            color:#fff;
            font-size: 3em;
        }
        #slogan{
            padding:25px;
            position: absolute;
            width:100%;
            height:30px;
            margin:34em 0 0 0; 
            font-family: 'Montserrat', sans-serif;
            color:#fff;
            font-size: 1em;
        }
    }
    @keyframes typing {
        from { opacity: 1; width: 0 }
        to {opacity: 1; width: 200px }
      }
      
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #D90368; }
   }
}


@keyframes landing-scroller{
    0%{
        top:10px;
         transform: scale(1);
    }
    50%{
        top:50px;
        transform: scale(0.7);
    }
    100%{
        top:10px;
         transform: scale(1);
    }
 }
 
 @keyframes landing-logo-entrance{
     from{
         opacity:0;
         transform: scale(0.8);
     }
     to{
         opacity: 1;
         transform: scale(1);
     }
 }
 
 @keyframes landing-title-entrance{
     from{
         opacity: 0;
         top:-15px;
     }
     to{
         opacity: 1;
         top:20px;
     }
 }
 @keyframes typing {
     from { opacity: 1; width: 0 }
     to {opacity: 1; width: 85% }
   }
   
 @keyframes blink-caret {
     from, to { border-color: transparent }
     50% { border-color: #D90368; }
}